<div class="chatbot" style="padding: 30px; background-color: rgba(151, 243, 199, 0.5);">
    <p style="font-size: 23px; text-align: center;">
        Chat Bot Support <img src="/images/bot-mini.png" alt="Bot" height="20">
    </p>
    
    <div id="container" class="container">
        <div id="chat" class="chat">
            <div id="messages" class="messages">
                <!-- Bot initial message -->
                <div class="bot-message">
                    <p>Hello! How can I help you with food donations today?</p>
                </div>
            </div>
            <div class="input-container">
                <input id="input" type="text" placeholder="Say something..." autocomplete="off" />
                <button id="send-btn"><i class="fa fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</div>

<script src="/js/chatbot/chatbot.js"></script>